services:
  postgres:
    image: postgres:18.1-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=admin
      - PGDATA=/data/postgres
    ports:
      - 5432:5432
    volumes:
      - ../docker-volumes/postgres:/data/postgres
    restart: always
    networks:
      - go
  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    volumes:
      - ../docker-volumes/redis:/data
    restart: always
    networks:
      - go
  mosquitto:
    image: eclipse-mosquitto:latest
    ports:
      - 1883:1883
    volumes:
      - ./deploy/mosquitto:/mosquitto/config
      - ../docker-volumes/mosquitto/data:/mosquitto/data
      - ../docker-volumes/mosquitto/log:/mosquitto/log
    restart: always
    networks:
      - go
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    networks:
      - go
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    ports:
      - 9092:9092
    depends_on:
      - zookeeper
    networks:
      - go
networks:
  go:
    name: go